
<app-header-details-group></app-header-details-group>

<div class="banner">
    <h2>Acompanhar</h2>
    <h2>Pagamentos</h2>
    
  </div>

  <div class="containers">
  <div class="content">
    <div class="form" fxLayout="column">
      <form fxLayout="row wrap" fxLayoutAlign="space-between">
        <!-- Membros -->
        <div class="container">
          <div class="form-field" >
            <h2>Membros</h2>

            <p>Power Guido</p>
            <p>Paula Tejando</p>
            <p>Jalam Bipal</p>

          </div>
        </div>

      </form>


  </div>
</div>

<div class="content 2">
  <div class="form2">
      <!-- Contemplações -->
      <div class="container2">
      <div class="form-field2" >
        <h2>Contemplações</h2>
        <div class="space-between">
        <p>Power Guido</p>
        <p>Contemplado</p>
        </div>
        <div class="space-between">
          <p>Paula Tejando</p>
          <p>Contemplado</p>
        </div>
        <div class="space-between">
          <p>Jalam Bipal</p>
          <p>Contemplado</p>
        </div>
        <div class="space-between">
          <p>Isadora Pinto</p>
          <p>Pendente</p>
        </div>

      </div>
    </div>
    <div class="buttonContemplado">
      <button mat-raised-button color="primary" >VER TODOS</button>
    </div>
  </div>
</div>

<div class="content">
  <div class="form2">
    <!-- Sorteios -->
    <div class="container">
      <div class="form-field2" >
        <h2>Sorteios</h2>

        <div class="space-between">
          <p>Data prevista</p>
          <p>29/04/2024</p>
        </div>
        <div class="space-between">
          <p>Realizado</p>
          <p>20/04/2024</p>
        </div>
        <div class="space-between">
          <p>Realizado</p>
          <p>22/04/2024</p>
        </div>
        <div class="space-between">
          <p>Realizado</p>
          <p>24/04/2024</p>
        </div>

      </div>
    </div>
    <div class="buttonSorteio">
      <button mat-raised-button color="primary" >VER TODOS</button>
    </div>
  </div>
</div>

</div>
