p{
  display: flex;
  padding-left: 12px;
  align-items: flex-start;
  gap: 10px;
  color: var(--black-087, var(--Preto-0_87, rgba(0, 0, 0, 0.87)));

  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}


.btn-verificar .mat-mdc-button .mat-mdc-button-persistent-ripple{
  background-color: #BF5C45 !important;
}
