<div class="dialog-container">
  <div mat-dialog-content>
    <p>ID do grupo:</p>
    <mat-form-field style="width: 100%;">
      <input matInput placeholder="Digite aqui">
    </mat-form-field>

    <div mat-dialog-actions class="modalIdGrupo">
      <button mat-button mat-dialog-close style="background-color: #A52E45; color: white;">CANCELAR</button>
      <button mat-button mat-dialog-close cdkFocusInitial class="btn-verificar"
        style="background-color: #BF5C45; color: white;">VERIFICAR</button>
    </div>
  </div>
