<div class="main" *ngFor="let boleto of boletos">

  <div class="text">
    <p>{{boleto.nomeGrupo}}: #{{boleto.id}} - {{boleto.dataVencimento}}</p>
    <span>
      <p>R${{boleto.valor | number: '1.2-2'}}</p>

    </span>
  </div>
  <div style="display: flex; justify-content: space-between;">
  <div>
    <button class="start" mat-flat-button color="#a52e45"
      style="color: white; background-color: #a52e45; border-radius: 115px; margin-right: 8px;" (click)="downloadBoleto()">Baixar Boleto</button>
    <button class="start" mat-flat-button color="#a52e45"
      style="color: white; background-color: #a52e45; border-radius: 115px;" (click)="openDialog(boleto.id.toString(), '0ms', '0ms')">Enviar Comprovante</button>
  </div>
  <p style="font-size: 16px; font-weight: 500; color: #A52E45;">PENDENTE</p>
  </div>
  <mat-divider style="margin-top: 24px; margin-bottom: 24px;"></mat-divider>
</div>
