.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4.5rem;
  padding: 0 1rem;
  background: var(--Trigo-Trigo---lighten-4, #FCFBFA);
  box-shadow: 0px 11px 15px 0px rgba(0, 0, 0, 0.20);
  flex-shrink: 0;
  position: fixed; /* Fica fixo no topo da tela */
  top: 0; /* Alinha no topo */
  z-index: 55;
}

.container-header {
  width: 50rem; /* Ocupa toda a largura do header */
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Espaço entre os elementos */
}

.container-left {
  display: flex;
  align-items: center;
  margin-left: -2.8rem;
}



.container-mobile{
  display: none;
}

@media (max-width: 1024px) {
  .container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .container-left {
    display: flex;
    align-items: center;
    margin-left: -2.8rem;
  }
}

@media (max-width: 768px) {

  .header {
    height: 3.5rem;
  }

.container{
  display: none;
}

.container-mobile{
  width: 80%; /* Ocupa toda a largura do header */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container-left-mobile{
  display: flex;
  align-items: center;
  margin-left: -2.8rem;
}
}


.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.banner {
  margin-left: auto;
  margin-right: auto;
  width: 47.375rem;
  padding: 2.5rem;
  margin-top: 120px;
  border-radius: 30px;
  box-shadow: 0px 10px 13px 0px rgba(0, 0, 0, 0.20);
  background: var(--Azul-Petrleo-Azul-Petrleo, #2B5278);
  flex-direction: column;
  align-items: center;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}


.banner h2 {
  color: var(--Shades-Branco, #FFF);
  font-family: Roboto;
  font-size: 3.5625rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.75rem;
  letter-spacing: 0.03125rem;
  text-align: center;
  margin: 0px;
}

.banner p {
  color: var(--Shades-Branco, #FFF);
  font-family: Roboto;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: 0.00938rem;
  text-align: center;
}

@media (max-width: 1024px) {
  .banner {
    width: 85%;
  }
}

@media (max-width: 768px) {
  .banner {
  margin-top: 5rem;
  display: flex;
  width: 80%;
  height: 112px;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  }

  .banner h2 {
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
  }

  .banner p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }
}

.form {
  display: flex;
  width: 758px;
  padding: 40px;
  margin-top: 32px;
  border-radius: 30px;
  border: 1px solid var(--CoolGray-20, #DDE1E6);
  box-shadow: 0px 10px 13px 0px rgba(0, 0, 0, 0.20);
  background: var(--Default-White, #FFF);
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 24px;
  z-index: 1;
}

.content {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
}

.form-field{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



p{
  padding-left: 18px;
  font-size: 16px;
}

.form-mobile{
  display: none;
}

@media (max-width: 1024px) {
  .form {
    width: 85%;
  }
}

@media (max-width: 768px) {
  .form {
    display: none; /* Esconde o .form no mobile */
  }

  .container{
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
  }

  .form-mobile {
    display: flex;
    width: 80%;
    padding: 40px 16px;
    margin-top: 21rem;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 24px;
    border-radius: 30px;
    border: 1px solid var(--CoolGray-20, #DDE1E6);
    background: var(--Default-White, #FFF);
    box-shadow: 0px 10px 13px 0px rgba(0, 0, 0, 0.20);
    position: relative; /* Posição absoluta para centralizar */
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Realinha ao centro */
  }

}
