.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

@media (max-width: 768px) {
  .wrapper{
    height: 1vh;
  }
}


.banner {
  margin-left: auto;
  margin-right: auto;
  width: 47.375rem;
  padding: 2.5rem;
  margin-top: 120px;
  border-radius: 30px;
  box-shadow: 0px 10px 13px 0px rgba(0, 0, 0, 0.20);
  background: var(--Cinza-Ardsia-Cinza-Ardsia---accent-1, #2B5278);
  flex-direction: column;
  align-items: center;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}


.banner h2 {
  color: var(--Shades-Branco, #FFF);
  font-family: Roboto;
  font-size: 3.5625rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.75rem;
  letter-spacing: 0.03125rem;
  text-align: center;
  margin: 0px;
}

.banner p {
  color: var(--Shades-Branco, #FFF);
  font-family: Roboto;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: 0.00938rem;
  text-align: center;
  margin-top: 8px;
}

@media (max-width: 1024px) {
  .banner {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .banner {
  margin-top: 3rem;
  display: flex;
  width: 80%;
  height: 112px;
  padding: 17px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  position: absolute; /* Posição absoluta para centralizar */
  top: 15%; /* Centraliza verticalmente */
  left: 50%; /* Centraliza horizontalmente */
  transform: translate(-50%, -50%); /* Realinha ao centro */
  }

  .banner h2 {
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
  }

  .banner p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }
}

.form-register{
  display: flex;
  width: 834px;
  flex-direction: column;
  align-items: stretch;
  box-shadow: 0px 10px 13px 0px rgba(0, 0, 0, 0.20);
  margin-top: 2rem;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

p{
  padding-left: 16px;
  padding-bottom: 8px;
  margin-bottom: 0;
  font-size: 16px;
}

.form-field-register{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.register-link{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.register-link p{
  padding: 0;
}

.register-link-container{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.space{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.form-field-endereco{
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

@media (max-width: 1024px) {
  .form-register{
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: stretch;
    box-shadow: 0px 10px 13px 0px rgba(0, 0, 0, 0.20);
    margin-top: 2rem;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
  }
}
