.banner {
  margin: auto;
  width: 758px;
  padding: 40px;
  margin-top: 120px;
  border-radius: 30px;
  box-shadow: 0px 10px 13px 0px rgba(0, 0, 0, 0.20);
  text-align: center;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.banner h1,
.banner p {
  color: white;

}

.banner h1 {
  margin-top: 1rem;
  padding-bottom: 1rem;
  font-size: 3.5625rem;
  font-weight: 500;
}

.banner p {
  margin-top: 0.5rem;
  font-size: 1rem;
  margin: 0;
  margin-bottom: 1rem;

}
