

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

@media (max-width: 768px) {
  .wrapper{
    height: 1vh;
  }
}


.banner {
  margin-left: auto;
  margin-right: auto;
  width: 47.375rem;
  padding: 2.5rem;
  margin-top: 120px;
  border-radius: 30px;
  box-shadow: 0px 10px 13px 0px rgba(0, 0, 0, 0.20);
  background: #2B5278;
  flex-direction: column;
  align-items: center;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}


.banner h2 {
  color: var(--Shades-Branco, #FFF);
  font-family: Roboto;
  font-size: 3.5625rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.75rem;
  letter-spacing: 0.03125rem;
  text-align: center;
  margin: 0px;
}

.banner p {
  color: var(--Shades-Branco, #FFF);
  font-family: Roboto;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: 0.00938rem;
  text-align: center;
}

@media (max-width: 1024px) {
  .banner {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .banner {
  margin-top: 3rem;
  display: flex;
  width: 80%;
  height: 112px;
  padding: 17px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  position: absolute; /* Posição absoluta para centralizar */
  top: 15%; /* Centraliza verticalmente */
  left: 50%; /* Centraliza horizontalmente */
  transform: translate(-50%, -50%); /* Realinha ao centro */
  }

  .banner h2 {
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
  }

  .banner p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }
}

.form {
  display: flex;
  width: 758px;
  padding: 40px;
  margin-top: 32px;
  border-radius: 30px;
  border: 1px solid var(--CoolGray-20, #DDE1E6);
  box-shadow: 0px 10px 13px 0px rgba(0, 0, 0, 0.20);
  background: var(--Default-White, #FFF);
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 24px;
  z-index: 1;
}

.content {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
}

.form-field-login{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register-link{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.register-link p{
  padding: 0;
}

p{
  padding-left: 16px;
  padding-bottom: 8px;
  margin-bottom: 0;
  font-size: 16px;
}


@media (max-width: 1024px) {
  .form {
    width: 70%;
  }
}

@media (max-width: 768px) {

  .container{
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
  }

  .form {
    display: flex;
    width: 80%;
    padding: 40px 16px;
    margin-top: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 24px;
    border-radius: 30px;
    border: 1px solid var(--CoolGray-20, #DDE1E6);
    background: var(--Default-White, #FFF);
    box-shadow: 0px 10px 13px 0px rgba(0, 0, 0, 0.20);
    position: absolute; /* Posição absoluta para centralizar */
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Realinha ao centro */

  }

  p{
    font-size: 14px;
  }

}
