<app-header-my-groups></app-header-my-groups>
<app-banner
  [backgroundColor]="'#739fa0'"
  [title]="'Meus Grupos'"
  [subtitle]="'Você está em 3 grupos'"
  >
</app-banner>
<div class="main">
  <app-card-groups-consortium max_price="1000" title="Consórcio CPPD "
    totalCreditos="R$ 1.000,00" valorParcelas="R$ 100,00" totalParcelas="10"
    backgroundColor="#C0C0C0"></app-card-groups-consortium>
    
  <app-card-groups-consortium max_price="10000" title="Consórcio da Galera"
    totalCreditos="R$ 10.000,00" valorParcelas="R$ 500,00" totalParcelas="20"
    backgroundColor="#C0C0C0"></app-card-groups-consortium>

  <app-card-groups-consortium max_price="500" title="Grupo de Poupança Coletiva"
    totalCreditos="R$ 500,00" valorParcelas="R$ 100,00" totalParcelas="5"
    backgroundColor="#C0C0C0"></app-card-groups-consortium>
</div>
